<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body{
            background: linear-gradient(blue,cornflowerblue);
        }
    </style>
</head>
<body>
<div>
    <h1 style="text-align: center;">Task1</h1>
</div>
<div style="text-align: center;">
    <img src="data:image/png;base64,{{ image_data }}" alt="Matplotlib Image">
</div>
<div style="text-align:center ">
   <input type="button" class="return" value="返回" onclick='location.href=("../")'>
</div>
</body>
</html>